<header class="site-header">
  <div class="wrapper">
    <nav class="site-nav">

      <div class="trigger">
        <a class="page-link" href="https://davetlimiz.com/">Davetlimiz - Ana sayfa</a>
        <a class="page-link" href="https://forms.gle/WBbipGVJYoZqB3fT7">Ücretsiz başvuruda bulunun</a>

        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

      </div>
    </nav>

  </div>

</header>
