<header class="site-header">
<p align="left" class="page-link" href="{{ site.baseurl }}/">Davetlimiz</p>
  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        
        <!-- {{ site.title }} instead of blog -->
        <button href="https://makale.ekofi.science">Ücretsiz başvuruda bulunun</button>
        <button href="https://davetlimiz.com/sablonlar">Şablonlar</button>

        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

      </div>
    </nav>

  </div>

</header>
